* {
  background-color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scrollbar-width: normal;
  scrollbar-color: rgb(58, 58, 58) rgb(18, 18, 18);
}
.container {
  /* display: flex;
  gap: 19px; */
  min-height: 100vh;
  margin: 8px 8px 0px 8px;
  position: relative;
}
.logo {
  background-color: rgb(18, 18, 18);
}

.inverted {
  background-color: rgb(237, 237, 237);
  filter: invert(1);
}

.rounded {
  border-radius: 6px;
}

.left {
  width: 21.8vw;
  /* height: 100vh; */
  background-color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  position: fixed;
}

.leftheader {
  height: 159px;
  background-color: rgb(18, 18, 18);
}

.logo {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.close {
  opacity: 0.6;
  margin-right: 10px;
  visibility: hidden;
}
.logo,
.home {
  padding-left: 20px;
  padding-top: 17px;
}
.home {
  background-color: rgb(18, 18, 18);
  padding-top: 17px;
}
.homelogo {
  width: 25px;
  background-color: rgb(18, 18, 18);
  opacity: 0.7;
}

.home:hover img,
.home:hover span {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.hovering:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.home span,
.home span p {
  background-color: rgb(18, 18, 18);
  position: relative;
  top: -5px;
  margin-left: 10px;
  font-weight: 550;
  color: white;
  opacity: 0.7;
}

.leftfooter {
  width: 100%;
  /* height: 100vh; */
  margin-top: 13px;
  background-color: rgb(18, 18, 18);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.library {
  /* height: auto; */
  background-color: rgb(18, 18, 18);
  display: flex;
  align-items: center;
}

.libspan {
  background-color: rgb(18, 18, 18);
  color: white;

  font-weight: 550;
  opacity: 0.7;
  margin-top: 16px;
  padding-right: 90px;
}
.libimg {
  opacity: 0.7;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 15px;
}

.library:hover .libimg,
.library:hover .libspan {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.plus {
  margin-top: 16px;
  /* margin-right: -40px; */
  opacity: 0.7;
}

.b1 {
  background-color: rgb(18, 18, 18);
}
.b2 {
  background-color: rgb(27, 27, 27);
}
.c1 {
  color: white;
}
.songlist {
  /* width: 285px; */
  font-size: 12px;
  margin-top: 15px;
  padding-left: 5px;
  padding-bottom: 10px;
  display: flex;
  max-height: 280px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
}

.songlist ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-right: 5px;
  margin-top: 8px;
  padding: 5px;
  border-radius: 10px;
  color: white;
  opacity: 0.85;
}

.playnow {
  display: flex;
  align-items: center;
  background-color: rgb(36, 36, 36);
}

.playnow img {
  margin-left: 10px;
  /* background-color: rgb(36, 36, 36); */
}

/* Right part----------------------->>>>>>>>>>>>>>>>> */

.right {
  width: 75vw;
  height: 98vh;
  background-color: rgb(18, 18, 18);
  color: white;
  position: absolute;
  right: 0px;
  top: 0;
}

.head {
  height: 65px;
  width: 75vw;
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* top: 0px; */
  z-index: 1;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 1), 0px -15px 10px rgba(0, 0, 0, 1);
}
.arrow {
  background-color: rgb(30, 30, 30);
  display: flex;
  gap: 15px;
  margin-left: 10px;
}

.hamburger {
  background-color: rgb(30, 30, 30);
  opacity: 0.7;
  visibility: hidden;
}
.Larrow,
.Rarrow {
  background-color: rgb(225, 225, 225);
  opacity: 0.7;
}

.enter {
  background-color: rgb(30, 30, 30);
  font-size: 14px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-right: 3px;
}

.signup {
  background-color: rgb(30, 30, 30);
  color: white;
  font-weight: 550;
  color: white;
  opacity: 0.7;
}

.login {
  background-color: rgb(30, 212, 95);
  opacity: 1;
  color: black;
  padding: 20px;
  padding: 15px 30px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 550;
}

.login:hover {
  transform: scale(1.03);
  background-color: white;
  transition: transform 0.3s ease;
}

.Playlist {
  width: 75vw;
  height: max-content;
  background-color: rgb(18, 18, 18);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  position: absolute;
  top: 65px;

  /* max-height: 76vh;
  overflow-y: scroll;
  overflow-x: hidden; */

  scrollbar-width: thin;
  scrollbar-color: rgb(58, 58, 58) rgb(18, 18, 18);
}

.playlisttop {
  height: 50px;
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: space-between;
}

.Playlist h1 {
  background-color: rgb(18, 18, 18);
  height: 50px;
  width: 260px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  padding: 10px 20px;
}
.Playlist h1:hover,
.showall:hover {
  text-decoration: underline;
}

.showall {
  background-color: rgb(18, 18, 18);
  height: 50px;
  color: white;
  padding: 10px;
  opacity: 0.7;
  border: none;
}

.cardContainer {
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  /* position: absolute; */
}

.card {
  background-color: rgb(23, 23, 23);
  width: 210px;
  height: 300px;
  font-size: 12px;
  padding: 15px;
  margin-top: 15px;
  text-overflow: hidden;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}

.card:hover,
.card:hover h2,
.card:hover p {
  background-color: rgb(36, 36, 36);
}

.card h2 {
  padding-top: 10px;
  background-color: rgb(23, 23, 23);
}

.card p {
  padding-top: 8px;
  background-color: rgb(23, 23, 23);
  opacity: 0.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card:hover {
  background-color: rgb(36, 36, 36);
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.play-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgb(85, 232, 72);
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 170px;
  left: 147px;
  opacity: 0;
  transition: all ease 0.3s;
}

.play-button img {
  background-color: rgb(85, 232, 72);
  width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

.card:hover button {
  opacity: 1;
  transform: translateY(-20px);
}
.play-button:hover {
  transform: scale(1.2);
}

.rightfooter {
  padding-top: 15px;
  height: 250px;
  /* width: inherit; */
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.rightfooter div {
  height: fit-content;
}
.rightfooter div ul li {
  list-style: none;
  padding-top: 20px;
  background-color: rgb(18, 18, 18);
  /* opacity: 0.6; */
}

li p {
  opacity: 0.6;
  background-color: rgb(18, 18, 18);
}

li p:hover {
  opacity: 1;
  text-decoration: underline;
  transition: opacity 0.3s ease;
}

.topEl p {
  opacity: 1;
}

.socialmedia {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.socialmedia button {
  background-color: rgb(237, 237, 237);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgb(214, 214, 214);
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialmedia button img {
  background-color: rgb(214, 214, 214);
}

.insta:hover,
.insta:hover img {
  background-color: rgb(179, 179, 179);
}
.twitter:hover,
.twitter:hover img {
  background-color: rgb(179, 179, 179);
}
.fb:hover,
.fb:hover img {
  background-color: rgb(179, 179, 179);
}

.rightEND {
  border-top: 2px solid rgb(52, 52, 52);
  margin-top: 25px;
  padding-top: 15px;
  height: 125px;
  background-color: rgb(18, 18, 18);
}

.rightEND ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.rightEND ul li {
  font-size: 12px;
  background-color: rgb(18, 18, 18);
  opacity: 0.5;
}

.rightEND li:hover {
  opacity: 1;
  text-decoration: underline;
  transition: opacity 0.3s ease;
}

/* Player--------->>>>>>>> */

.player {
  background-color: rgb(36, 36, 36);
  width: 100vw;
  height: 70px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 1); 
}

.SongInfo {
  height: 50px;
  width: 220px;
  background-color: rgb(36, 36, 36);
  /* padding: 5px; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.SongInfo span,
.SongInfo small {
  background-color: rgb(36, 36, 36);
  opacity: 1;
  cursor: pointer;
  font-size: 12px;
  color: white;
  font-weight: 550;
}
.SongInfo span:hover small {
  text-decoration: underline;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.SongInfo span small {
  opacity: 0.5;
}

.heart {
  opacity: 0.6;
  background-color: rgb(219, 219, 219);
}

.heart:hover {
  transform: scale(1.3);
  transition: all 0.3s ease;
}

.player-container {
  background-color: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  gap: 27px;
  margin-bottom: 15px;
  margin-left: -22%;
}
.player-controls {
  background-color: rgb(36, 36, 36);
  display: flex;
  align-items: flex-start;
}

.player-play {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgb(30, 212, 95);
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.player-play img {
  background-color: rgb(30, 212, 95);
}

.player-play:hover,
.player-play:hover img {
  background-color: rgb(30, 212, 95);
  transform: scale(1.09);
  transition: transform 0.3s ease;
}

.pl {
  background-color: rgb(219, 219, 219);
  /* opacity: 0.6; */
}

.pl:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: opacity 0.3s ease;
  transition: transform 0.3s ease;
}

.songTime {
  position: absolute;
  right: -95px;
  top: -6.5px;

  background-color: rgb(36, 36, 36);
  color: white;
  font-size: 12px;
  opacity: 0.7;
}
.seekbar {
  width: 50%;
  height: 5px;
  background-color: rgb(158, 158, 158);
  position: absolute;
  top: 55px;
  left: 25%;
  border-radius: 15px;
}
.SeekCircle {
  background-color: rgb(30, 212, 95);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -65%;
  left: 0%;
  transition: left 0.3s ease;
}
.SeekCircle:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.volume {
  width: 115px;
  background-color: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  gap: 7px;
}
.volume img {
  background-color: rgb(219, 219, 219);
}

.VolumeSeekCircle {
  position: absolute;
  top: 45%;
}

.VolumeSeekCircle {
  /* Remove default styles */
  -webkit-appearance: none;
  -moz-apperance: none;
  appearance: none;
  /* Set track color */
  background-color: rgb(158, 158, 158);
  /* Set thumb color */
  border-radius: 10px;
  height: 5px;
  width: 70px;
}

/* Style the thumb */
.VolumeSeekCircle::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: rgb(30, 212, 95);
  border-radius: 50%;
}

.VolumeSeekCircle:hover {
  /* background-color: rgb(30, 212, 95); */
  /* transform: scale(1.3); */
  transition: transform 0.3s ease;
}

/* Responsiveness */

@media (max-width: 970px) {
  .left {
    height: 93vh;
    position: fixed;
    left: -100%;
    z-index: 2;
    transition: all 0.6s ease;
    width: 290px;
  }

  .songlist {
    max-height: 200px;
  }
  .right,
  .Playlist,
  .head {
    width: 96vw;
  }
  .rightEND ul li {
    font-size: 8px;
  }
  .socialmedia {
    gap: 5px;
    display: flex;
  }

  .player {
    gap: 0px;
    height: 60px;
  }
  .SongInfo{
    width: 170px;
  }
  .SongInfo span,
  .SongInfo small {
    gap: 5px;
    font-size: 8px;
  }
  .songpic {
    width: 40px;
  }
  .heart {
    width: 10px;
    margin-left: -10px;
  }

  .player-container {
    gap: 15px;
    margin-left: -18%;
  }
  .pl {
    width: 14px;
  }
  .player-play {
    width: 30px;
    height: 30px;
    top: 0px;
  }
  .player-play-img {
    width: 15px;
    height: 15px;
  }
  .seekbar {
    top: 40px;
    left: 30%;
    width: 40%;
  }
  .songTime {
    right: 40%;
    top: 170%;
    font-size: 10px;
  }

  .hamburger {
    visibility: visible;
  }
  .close {
    visibility: visible;
  }
}
@media (min-width: 300px) and (max-width: 325px) /* for small phone */ {
  /* .right{
    height: 400px;
  } */
  .left {
    height: min-content;
  }
  .songlist {
    max-height: 50vh;
  }
  .head {
    height: 45px;
  }
  .Larrow,
  .Rarrow {
    width: 12px;
  }
  .hamburger {
    width: 16px;
  }
  .login,
  .signup {
    font-size: 10px;
  }
  .login {
    padding: 15px;
    padding: 10px 20px;
  }
  .playlisttop h1 {
    font-size: 18px;
    width: 240px;
  }
  .playlisttop button {
    font-size: 8px;
  }
  .cardContainer {
    gap: 3px;
  }
  .card {
    width: 140px;
    height: 210px;
  }
  .play-button {
    width: 30px;
    height: 30px;
    top: 110px;
    left: 92px;
  }
  .cardContainer h2 {
    font-size: 15px;
  }
  .cardContainer p {
    font-size: 9px;
  }
  .socialmedia {
    position: relative;
    top: 20px;
  }
  .player {
    height: 80px;
    width: 102vw;
    z-index: 2;
  }
  .seekbar {
    top: 52px;
    left: 23%;
    width: 50%;
  }
  .player-container {
    gap: 16px;
    margin-left: 0%;
  }
  .SongInfo {
    height: 80px;
    width: 80px;
    padding-left: 5px;
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .songpic {
    width: 55px;
  }
  .heart {
    visibility: hidden;
  }
  .SongInfo span,
  .SongInfo small {
    gap: 0px;
    font-size: 9px;
    position: relative;
    bottom: 10px;
  }

  .player-play {
    width: 30px;
    height: 30px;
    top: 0px;
  }
  .player-play-img {
    width: 14px;
    height: 14px;
  }
  .songTime {
    right: 25%;
    top: 170%;
    font-size: 10px;
  }
  .volume {
    width: 80px;
    position: relative;
    bottom: 0px;
  }
  .volume img {
    width: 16px;
  }
  .volume-seekbar {
    width: 50px;
  }
  .rightfooter {
    font-size: 12px;
    height: 210px;
    padding: 9px;
  }
  .VolumeSeekCircle {
    width: 50px;
  }
  .socialmedia {
    display: block;
  }

  .rightEND {
    padding: 3px;
    margin-top: 30px;
    height: 120px;
  }
  .rightEND ul li {
    font-size: 6px;
  }
  .hamburger {
    visibility: visible;
  }
  .close {
    visibility: visible;
  }
}
@media (min-width: 325px) and (max-width: 376px) /* for medium phone */ {
  /* .right{
    height: 0px;
  } */
  .left {
    height: min-content;
  }
  .songlist {
    max-height: 50vh;
  }
  .head {
    height: 50px;
  }
  .Larrow,
  .Rarrow {
    width: 14px;
  }
  .hamburger {
    width: 18px;
  }
  .login,
  .signup {
    font-size: 12px;
  }
  .login {
    padding: 15px;
    padding: 10px 20px;
  }

  .playlisttop h1 {
    font-size: 22px;
    width: 250px;
  }
  .playlisttop button {
    font-size: 9px;
  }

  .cardContainer {
    gap: 2px;
  }
  .card {
    width: 143px;
    height: 220px;
  }
  .play-button {
    width: 30px;
    height: 30px;
    top: 95px;
    left: 76px;
  }
  .cardContainer h2 {
    font-size: 16.5px;
  }
  .cardContainer p {
    font-size: 11px;
  }
  .socialmedia {
    position: relative;
    top: 20px;
  }
  .player {
    height: 85px;
    width: 102vw;
    z-index: 2;
  }
  .seekbar {
    top: 53px;
    left: 24.8%;
    width: 53%;
  }
  .player-container {
    gap: 18px;
    margin-left: 0%;
  }

  .SongInfo {
    height: 80px;
    width: 80px;
    padding-left: 8px;
    padding-top: 3px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .songpic {
    width: 50px;
  }
  .heart {
    visibility: hidden;
  }
  .SongInfo span,
  .SongInfo small {
    font-size: 10px;
    position: relative;
    bottom: 10px;
    line-height: 9.5px;
  }

  .songTime {
    right: 30%;
    top: 170%;
    font-size: 11px;
  }
  .player-play {
    width: 36px;
    height: 36px;
    top: -5px;
  }
  .player-play-img {
    width: 18px;
    height: 18px;
  }
  .volume {
    width: 70px;
  }
  .VolumeSeekCircle {
    width: 12vw;
  }
  .volume img {
    width: 15px;
  }
  .volume-seekbar {
    width: 44px;
  }

  .rightfooter {
    font-size: 12px;
    height: 210px;
    padding: 9px;
  }
  .socialmedia {
    display: block;
  }
  .rightEND {
    padding: 3px;
    margin-top: 30px;
    height: 120px;
  }
  .rightEND ul li {
    font-size: 6px;
    padding-top: 10px;
  }
  .hamburger {
    visibility: visible;
  }
  .close {
    visibility: visible;
  }
}
@media (min-width: 376px) and (max-width: 432px) /* For large mobile */ {
  /* .right{
    height: 120px;
  } */
  .left {
    height: min-content;
  }
  .songlist {
    max-height: 50vh;
  }
  .head {
    height: 50px;
  }
  .Larrow,
  .Rarrow {
    width: 14px;
  }
  .hamburger {
    width: 18px;
  }
  .login,
  .signup {
    font-size: 12px;
  }
  .login {
    padding: 15px;
    padding: 10px 20px;
  }

  .playlisttop h1 {
    font-size: 22px;
  }
  .playlisttop button {
    font-size: 9px;
  }

  .cardContainer {
    gap: 2px;
  }
  .card {
    width: 173px;
    height: 245px;
  }
  .player {
    height: 85px;
    width: 102vw;
    z-index: 2;
  }
  .play-button {
    width: 30px;
    height: 30px;
    top: 95px;
    left: 76px;
  }
  .cardContainer h2 {
    font-size: 16.5px;
  }
  .cardContainer p {
    font-size: 11px;
  }
  .socialmedia {
    position: relative;
    top: 20px;
  }
  .seekbar {
    left: 24%;
    width: 51%;
    top: 60px;
  }
  .player-container {
    gap: 22px;
    margin-left: 0%;
  }

  .SongInfo {
    gap: 2px;
    height: 80px;
    width: 80px;
    padding-left: 8px;
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .songpic {
    width: 45px;
  }
  .heart {
    width: 11px;
    position: relative;
    bottom: 42px;
    left: 65px;
  }
  .SongInfo span,
  .SongInfo small {

    font-size: 10px;
    
    line-height: 10.5px;
  }

  .player-play {
    width: 40px;
    height: 40px;
    top: 0px;
  }
  .player-play-img {
    width: 18px;
    height: 18px;
  }

  .songTime {
    right: 35%;
    top: 130%;
    font-size: 11px;
  }
  .volume {
    width: 101px;
    margin-left: -13px;
  }
  .volume img {
    width: 14px;
  }
  .volume-seekbar {
    width: 64px;
  }

  .rightfooter {
    font-size: 12px;
    height: 210px;
    padding: 9px;
  }
  .socialmedia {
    display: block;
  }

  .rightEND {
    padding: 3px;
    margin-top: 30px;
    height: 120px;
  }
  .rightEND ul li {
    font-size: 7px;
  }
  .hamburger {
    visibility: visible;
  }
  .close {
    visibility: visible;
  }
}
@media (min-width: 432px) and (max-width: 768px) /* For tablet */ {
  /* .right{
    height: 380px;
  } */
  .left {
    height: min-content;
  }
  .songlist {
    max-height: 50vh;
  }
  .head {
    height: 50px;
  }
  .Larrow,
  .Rarrow {
    width: 14px;
  }
  .hamburger {
    width: 18px;
  }
  .login,
  .signup {
    font-size: 12px;
  }
  .login {
    padding: 15px;
    padding: 10px 20px;
  }

  .playlisttop h1 {
    font-size: 22px;
  }
  .playlisttop button {
    font-size: 9px;
  }

  .cardContainer {
    gap: 2px;
  }
  .card {
    width: 123px;
    height: 200px;
  }
  .play-button {
    width: 30px;
    height: 30px;
    top: 95px;
    left: 76px;
  }
  .cardContainer h2 {
    font-size: 16px;
  }
  .cardContainer p {
    font-size: 10px;
  }
  .socialmedia {
    position: relative;
    top: 20px;
  }
  .seekbar {
    top: 37px;
    left: 30%;
    width: 42%;
  }
  .player-container {
    gap: 20px;
    margin-left: -10%;
    margin-top: -1%;
  }
  .SongInfo {
    gap: 5px;
    width: 120px;
  }
  .songpic {
    width: 40px;
  }
  .heart {
    width: 12px;
    position: relative;
    top: 8px;
    left: -10px;
  }
  .SongInfo span,
  .SongInfo small {
    gap: 5px;
    font-size: 7px;
  }
  


  .player-play {
    width: 25px;
    height: 25px;
    top: 0px;
  }
  .player-play-img {
    width: 14px;
    height: 14px;
  }
  .songTime {
    right: 38%;
    top: 100%;
    font-size: 11px;
  }
  .volume {
    width: 93px;
    margin-left: -13px;
  }
  .volume img {
    width: 14px;
  }
  .volume-seekbar {
    width: 50px;
  }

  .rightfooter {
    font-size: 12px;
    height: 210px;
    padding: 9px;
  }
  .socialmedia {
    display: flex;
  }
  .rightEND {
    padding: 2px;
    padding-top: 10px;
    margin-top: 30px;
    height: 90px;
  }
  .rightEND ul li {
    font-size: 8.5px;
  }
  .hamburger {
    visibility: visible;
  }
  .close {
    visibility: visible;
  }
}
